extend ../layout/game

block main
    h1 Please login
    form
      label(for='login') Login
      input(type='text', id='login')
      label(for='password') Password
      input(type='password', id='password')