body {
  font: 12px Arial, Helvetica, sans-serif;
}

a {
  color: #00B7FF;
}


/*LAYOUT*/
.container{
  padding: 15px;
}

.flash_container{
  position: absolute;
  width: 100%;
  top: 40%;
  z-index: 200;
  .flash{
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, .7);
    padding: 15px 0;
    font-size: 20px;
    &:hover{
      background: rgba(0, 0, 0, 0.8);
      cursor: pointer;
    }
    &.notice{
      color: #62C513;
    }
    &.error{
      color: red;
    }
  }
}

header{
  .user{
    text-align: right;
  }
}


/*STYLE*/
h1{
  font-size: 25px;
  padding-bottom: 5px;
  width: 250px;
  margin: 0 auto;
  border-bottom: 1px solid grey;
}
input[type='text'], input[type='password'], textarea{
  outline: none;
  background: white;
  border: 1px solid silver;
  padding: 3px 6px;
  &:focus{
    background: #f9f9f9;
    border-color: grey;
  }
}
form{
  margin-top: 15px;
  p{
    text-align: right;
    width: 250px;
    margin: 0 auto;
    label{
      width: 120px;
      text-align: right;
      margin-right: 10px;
    }
  }

}


.buttoned {
  text-decoration: none;
  color: white;
  border: none;
  cursor: pointer;
  padding: 3px 7px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #45484d; /* Old browsers */
  background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.buttoned:hover, .buttoned:active {
  background: #242628; /* Old browsers */
  background: -moz-linear-gradient(top,  #242628 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#242628), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #242628 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #242628 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #242628 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #242628 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242628', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.hidden { display: none; }
.bolded { font-weight: bold; }
.centered { text-align: center; }
.righted { text-align: right; }
.lefted { text-align: left; }



/*TWEAKS*/



/* GAME */

canvas#game_board{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

}

/* CHAT */

table#game_chat {
  width: 300px;
  position: absolute;
  right: 10px;
  top: 50px;
  z-index: 100;

  thead#header {
    height: 20px;
  }

  tbody#conversation {
    overflow-y: scroll;
    display:block;
    height: 300px;
    min-height: 300px;
    border: 1px solid gray;

    tr {
      td {
        padding: 3px;

        &.author{ width: 80px; font-weight: bold; border-right: 1px solid gray; }
        &.message{ width: 220px; color: blue; }
      }
    }
  }

  tfoot#message_form {
    tr#new_message {
      input#message { width: 76%; }
    }
  }
}