doctype 5
html(lang='en')
  head
    title TESTONS

  body
    .container
      block main
      
    script(type='text/javascript', src='/javascripts/sheetengine-src-1.2.0.js')
    script(type='text/javascript', src='/javascripts/try.js')